<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140966903926-dlthimv60ratlrg7gb2uvia2e3khqcal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140966903926-dlthimv60ratlrg7gb2uvia2e3khqcal</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>140966903926-ph95gv36g54h7svbj97heqnb4rejiqq7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6kANWWYNqstxDBuPhd8cOFqi1LgOuivI</string>
	<key>GCM_SENDER_ID</key>
	<string>140966903926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.folkapp.folkBoys</string>
	<key>PROJECT_ID</key>
	<string>folk-app1</string>
	<key>STORAGE_BUCKET</key>
	<string>folk-app1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140966903926:ios:31a5b599cf0abb52b71f57</string>
</dict>
</plist>